<h1>Picture Details for Picture #<%= @picture.id %></h1>

<p>
<a href="http://localhost:3000/delete_picture/<%= @picture.id %>">Delete this picture</a>
</p>

<img src = "<%= @picture.source %>" width = 200>
<h4><%= @picture.caption %></h4>


